body {
  font-family: "Amaranth", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(243, 200, 200);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 200px; 
  /*text-shadow: 2px 2px 4px rgba(136, 83, 96, 0.411);*/
}

.header {
  padding: 20px;
  color: rgb(250, 108, 132);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px ridge rgba(255, 141, 141, 0.281);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7; /* Set transparency for mouse-over effects on hover */
  transition: opacity .2s;
  cursor: pointer;
}

img:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.img-tittle {
  opacity: 1;
  transition: none;
  cursor:default;
}

.grid-selection,
.slide-container,
.picker-square,
.picker-text,
.button-container2,
.button-container3 {
  padding: 10px;
}

.toolbar-container,
.grid-container {
  border-radius: 8px;
  border: 2px solid rgb(250, 108, 151);
  padding: 20px;
  margin: 10px;
  background: rgba(245, 153, 153, 0.534);
  border: 4px ridge rgba(255, 141, 141, 0.281);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*///// DOT BUTTONS  //////*/
.button-container1 {
  display: flex;
  justify-content: center;
  gap: 36px;
  align-items: center;
  padding: 80px 0px;
}

.dot-text {
  padding: 10px;
}


/*///// BUTTONS  //////*/

.button-container2,
.button-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 4px ridge rgba(255, 141, 141, 0.281);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.288);
  padding: 4px;
  margin: 0px 60px 10px;
}

.button-container2 {
 margin-bottom: 20px;
}

.reset-symbol,
.gradient-dot {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: none;
}


/*///// SLIDER //////*/

.slider {
  appearance: none; /* Override default look */
  width: 300px;
  height: 18px; 
  background: #756666;
  opacity: 0.7;
  transition: opacity .2s;
  border: 4px ridge rgba(255, 141, 141, 0.281);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider:hover {
  opacity: 1; 
}

/* Slider handle */
.slider::-webkit-slider-thumb {
  appearance: none; 
  width: 25px; 
  height: 25px;
  background: #db6973; 
  cursor: pointer; 
}
/*Note: The ::-webkit-slider-thumb pseudo-element is a vendor-specific selector used to style the appearance of the slider's thumb in webkit-based browsers (such as Chrome). It allows to customize the visual representation of the draggable handle that users interact with when adjusting the slider's value.*/


/*///// COLOR PICKER //////*/

#fav-color {
  width: 308px; 
  height: 30px;
  border: 4px ridge rgba(255, 141, 141, 0.281);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
  transition: opacity .2s;
  cursor: pointer;
}

#fav-color:hover {
  opacity: 1;
}

/*///// GRID //////*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}

.grid-item {
    flex-basis: calc(6.25% - 4px);
    padding-top: calc(6.25% - 4px);
    margin: 1px;
    background-color: #ccc;
}

.grid-item:hover {
    background-color: red;
  }

.grid-item.red {
    background-color: red;
  }


/*///// FOOTER //////*/

.footer {
  font-size: 18px;
  padding: 30px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}